.menubar{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    color: white;
}
.menubar-title{
    font-weight: 700;
    font-size: 32px;
}
.nav-menu{
    text-decoration: none;
}